.RankMainDiv{
    width: 100vw;
    height: 100vh;
    background-color: #19A7CE;
    background: url("../../public/englishBack.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
    align-items: center;
    justify-content: center;
    color: black;
}